:root {
  --background: #ffffff;
  --foreground: #171717;
  --card: #ffffff;
  --card-foreground: #3f3f40;
  --card-hover: #f8f8f8;
  --popover: #ffffff;
  --popover-foreground: #171717;
  --primary: #f7ca11;
  --primary-foreground: #171717;
  --secondary: #f4f4f4;
  --secondary-foreground: #171717;
  --muted: #f6f5f2;
  --muted-foreground: #9f9f9f;
  --accent: #3442b5;
  --accent-foreground: #ffffff;
  --destructive: #e7000b;
  --border: #dedede;
  --input: #dedede;
  --ring: #f7ca14;
  --chart-4: #3019b2;
  --blue: #3019b2;
  --purple: #271c47;
  --radius: 4px;

  --icon-blue-filter: invert(17.6%) sepia(23.7%) saturate(4127%)
    hue-rotate(229.2deg) brightness(132%) contrast(142.7%);

  --font-sans: 'Poppins', ui-sans-serif, system-ui, sans-serif;
}
